Debug/*
*/Debug/*
*/ipch/*
*/*/Debug/*
*.suo
*.exe
*.swp
# Binary version of the current resource script file;used for quick loading.
*.aps
*.sdf
*.opensdf

*.bak

thumbs.db

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

